@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

$gFontSize: 10px;
$gFontFamily: 'Montserrat', sans-serif;

// colors
$cBlack: #000000;
$cMainWhite: #f7fafc;
$cSuccessBtnBg: green;
$cCancelBtnBg: tomato;
$cDisabledBtnBg: grey;

$cMainBg: #474694;
$cBorder: #9FAAE5;
$cNavBtn: #330066;
$cWhite: #ffffff;
